:root {
	// https://tailwindcss.com/docs/font-family/
	// sans-serif: use default WordPress admin font stack
	--font-sans: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

	// https://tailwindcss.com/docs/font-size/
	--text-xs: 12px;
	--text-sm: 14px;
	--text-md: 16px;
	--text-lg: 18px;
	--text-xl: 20px;
	--text-2xl: 24px;
	--text-3xl: 30px;
	--text-4xl: 36px;
	--text-5xl: 48px;
	--text-6xl: 64px;

	// https://tailwindcss.com/docs/text-color/
	--color-accent: #60BB46;
	--color-secondary: #F29F05;
	--color-dark: #1a202c; // gray-900
	--color-base: #4a5568; // gray-700
	--color-gray: #a0aec0; // gray-500
	--color-light: #e2e8f0; // gray-300
	--color-lighter: #edf2f7; // gray-200
	--color-lightest: #f7fafc; // gray-100
	--color-white: #ffffff;
}