.content{
	margin-top: 15px;
}
.content-post{
	display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 24px 16px;
    margin-bottom: 30px;
}
.site-main {
	margin-top: 20px;
}
.danhmuc-sp{
    background-color: #fff;
    margin-top: 5px;
    z-index: 0;
}