.shows{
display: flex !important;
}
.product-item {
  position: relative;
  height: 100%;
  background: var(--color-white);
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
 
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.2s, transform 0.2s;
  will-change: box-shadow, transform;
  display: none;
 margin: 0 5px;
  width: 100%;
  flex-direction: column;
  &:hover{
    .product-thumb{
    transform: scale(0.9);
    }
  }
  .post-thumbnail {
    margin-bottom: 20px;
  }

  .product-thumb {
    height: 0;
    padding-top: 90%;
    position: relative;
    transition: transform .2s;
    &:hover{
      transform: scale(0.9);
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      max-height: 100%;
    }
  }

  .product-meta{
    margin-top: auto;
  }
  .entry-title{
      font-weight: 500;
      color: #5A5A5A;
      font-size: 16px;
      a {
        color: #5A5A5A;
      }
  }
  .product-price{
      width: 100%;
      .price-sale{
          font-size: 20px;
          color: #F43A3A;
          font-weight: 700;
      }
      .price{
          color: #C4C4C4;
          text-decoration: line-through;
      }
     
  }
  .product-khuyenmai{
    background-color: #F43A3A;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    p{
        font-size: 14px;
        text-align: center;
        color: #fff;
        margin: 0;
    }
}
}
//product sidebad
.product_sidebar{
  width: 100%;
  background: #fff;
  padding: 5px 20px;
  .product_sidebar-content{
    display: flex;
    .product-img{
      display: flex;
      flex: 1;
      position: relative;
      
      align-items: center;
      justify-content: center;
      &::after{
        content: '';
        display: block;
        padding-top: 100%;
      }
      .post-img{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        img{
          width: 100%;
          height: 100%;
          object-fit:contain;
        }
      }
    }
    .product_sidebar-meta{
      display: flex;
      flex: 2;
      align-items: center;
      padding: 10px;
      .entry-title{
        font-size: 16px ;
        font-weight: 500;
        color: #5A5A5A;
        margin: 0;

      }
    }
  }

  .product_sidebar-price{
    display: flex;

    justify-content: center;

    .price-sale{
      font-size: 22px;
      color: #F43A3A;
      font-weight: 700;
      margin: 0 10px;
    }
    .price{
      margin: 0 10px;
      font-size: 15px;
      color: #C4C4C4;
      margin-top: auto;
      text-decoration: line-through;
  }
  }
}