.site-footer {
  background: #d6d6d6;
  color: #5A5A5A;
  .logo {
    margin-top: 20px;
    padding: 10px;
    padding-top: 20px;
    .custom-logo-link {
      display: block;
      width: 100%;
      height: 100%;
    }
    img {
      max-height: 100px;
      width: auto;
    }
  }
.widget{
  margin: 0;
  p{
    margin: 0;
  }
  h2{
    font-weight: 500;
    margin-bottom: 5px;
    text-decoration: underline;
  }
  ul{
    list-style: none;
    padding: 0;
    a{
      color: #333;
      &:hover{
        color: var(--color-accent);
      }
    }
  }
}
}
.footer-widgets__wrapper {
  margin: 15px 0 30px;
  padding-top: 15px;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-right {


  ul {
    padding-left: unset;
    li {
      list-style:none;
        margin: 6px 0;
        &:hover {
          a {
          color: var(--color-accent);
        }
      }
    }
  }
}
.site-info{
  text-align: center;
  background-color: #333;
  padding: 10px;
  color: #fff;
  a {
    color:#fff;
  }
}
@media(max-width:769px){
  .footer-left{
    min-width: 100%!important;
  }
  .footer-right{
    display: inline-flexbox!important;
    text-align: justify;
    min-width: 100%!important;
    #nav_menu-4, #nav_menu-3{
      min-width:50%;
    }
    #block-23{
      min-width: 100%;
    }

  }
}
@media(max-width:414px){
  .footer-left{
    min-width: 100%!important;
  }
  .footer-right{
    display: block!important;
    text-align: justify;
    min-width: 100%!important;
    #nav_menu-4, #nav_menu-3{
      min-width:100%;
    }
    #block-23{
      min-width: 100%;
    }

  }
}
.footer-right{
  a{
    color:#5A5A5A;
  }
}
.box_icon_footer{
  display: inline-flex;
  .icon-footer {
    display: block;
    width: 30px;
    margin: 10px;
  }
}