.site-footer {
  background: #d6d6d6;
  color: #5A5A5A;
  .logo {
    margin-top: 20px;
    padding: 10px;
    padding-top: 20px;
    .custom-logo-link {
      display: block;
      width: 100%;
      height: 100%;
    }
    img {
      max-height: 100px;
      width: auto;
    }
  }
.widget{
  margin: 0;
  p{
    margin: 0;
  }
  h2{
    font-weight: 500;
    margin-bottom: 5px;
    text-decoration: underline;
  }
  ul{
    list-style: none;
    padding: 0;
    a{
      color: #333;
      &:hover{
        color: var(--color-accent);
      }
    }
  }
}
}
.footer-widgets__wrapper {
  margin: 15px 0 30px;
  padding-top: 15px;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-right {


  ul {
    padding-left: unset;
    li {
      list-style:none;
        margin: 6px 0;
        &:hover {
          a {
          color: var(--color-accent);
        }
      }
    }
  }
}
.site-info {
  text-align: center;
  background-color: #333;
  padding: 10px;
  color: #fff;
  a {
    color:#fff;
  }
}
.footer-right {
	a {
	  color:#5A5A5A;
	}
}
.box_icon_footer{
	display: inline-flex;
	.icon-footer {
		display: block;
		width: 30px;
		margin: 10px;
	}
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, .4);
}

.modal-content {
	margin: auto;
	width: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.close {
	color: #000;
	float: right;
	font-size: 28px;
	font-weight: bold;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #fff;
	text-align: center;
	line-height: 35px;
	&:hover,
	&:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}
}






@media(max-width:769px) {
  .footer-left{
    min-width: 100%!important;
  }
  .footer-right{
    display: inline-flexbox!important;
    text-align: justify;
    min-width: 100%!important;
    #nav_menu-4, #nav_menu-3{
      min-width:50%;
    }
    #block-23{
      min-width: 100%;
    }

  }
}
@media(max-width:576px) {
	.modal-content {
		width: 95%;
		padding:20px;
	}
}
@media(max-width:414px) {
  .footer-left{
    min-width: 100%!important;
  }
  .footer-right{
    display: block!important;
    text-align: justify;
    min-width: 100%!important;
    #nav_menu-4, #nav_menu-3{
      min-width:100%;
    }
    #block-23{
      min-width: 100%;
    }

  }
}
