html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	word-break: break-word;
	background: rgb(243, 243, 243);
	font-family: var(--font-arial);
	font-size: var(--text-md);
	color: var(--color-white);
    overflow-x: hidden; // Fix horizontal scrollbar for .alignfull
    margin: 0;
	padding:0;

	&::-webkit-scrollbar{
		width: 1px;
	}
}

:focus {
	outline: 1px dotted;
}
p {
	margin: 0 0 7.5px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-arial);
	color: #fff;
	margin: 0 0 1.5rem;
	line-height: 1.4;
	font-weight: 700;
}

h1 {
	font-size: var(--text-3xl);
}

h2 {
	font-size: var(--text-2xl);
}

h3 {
	font-size: var(--text-xl);
}

h4 {
	font-size: var(--text-lg);
}

h5 {
	font-size: var(--text-md);
}

h6 {
	font-size: var(--text-xs);
}

svg {
	width: 16px;
	height: 16px;
	fill: currentColor;
}

address,
blockquote,
dd,
dl,
figure,
ol,
pre,
table,
ul {
	margin: 0 0 1.5em;
}

a {
	color: var(--color-white);
	transition: all 0.25s;
	text-decoration: none;
	&:hover {
		color: var(--color-accent);
	}
}

table {
	width: 100%;
	border-collapse: collapse;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	object-fit: cover;
}

.btn,
button,
input[type='submit'] {
	//@include button;
}

select,
input,
textarea {
	border: 1px solid var(--color-lighter);
	background: transparent;
	padding: 8px 12px;
	color: var(--color-ee);
	&:focus {
		outline: 1px dotted #ccc;
		border-color: var(--color-dark);
	}
}

textarea {
	width: 100%;
}
select {
	max-width: 100%;
}

form {
	input[type='email'],
	input[type='tel'],
	input[type='text'],
	input[type='url'] {
		width: 100%;
	}
}

table {
	width: 100%;
	td,
	th {
		border: 1px solid var(--color-lighter);
		text-align: center;
		padding: 5px;
	}
}

iframe {
	width: 100%;
}

ul,
ol {
	padding-left: 20px;
}

.icon {
	fill: none;
	stroke: currentColor;
	stroke-width: 2;
}
