.site-header {
  background: var(--color-accent);
  z-index: 10;
}
.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  transition: all 2s;
}
.header-sidebar {
  background: #23282d;
  .widget {
    margin: 0;
  }
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: 0px 5px;
      font-size: 13px;
      border-right: #4f5357 solid 1px;
      &:last-child {
        border-right: none;
        
      }
      a {
        color:#c4c4c4;
      } 
    }
  }
  .sidebar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    .box_item{
      display: flex;
    }
    .item {
      display: flex;
      color: #c4c4c4;
      font-size: 13px;
      padding: 0px 10px;

      border-right: #4f5357 solid 1px;
      &:last-child {
        border-right: none;
      }
      .bi {
        margin-right: 5px;
      }
      p {
        margin: 0;
      }
    }
  }
}

 


// header top
.header_top {
  display: flex;
  background-color: var(--color-accent);
  justify-content: center;
  padding: 18px;
}
.header_top-logo {
  width: 10%;
  
  position: relative;

align-items: center;
  display: flex;
  flex: 1;

    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  
}
.header_top-search {
  display: flex;
  flex: 4;
  background: var(--color-white);
  border-radius: 50px;
  margin: 25px 30px 15px 30px;
  .header-search {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      border: none;
    }
  }
  .btn-search {
    position: absolute;

    right: 1%;
    justify-content: center;

    img {
      width: 25px;
      height: 25px;
      fill: currentColor;
    }
  }
}
.header_top-contact {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  color: var(--color-white);
  margin-top: 25px;

  img {
    width: 50px;
    height: 50px;
    filter: invert(1);
    fill: currentColor;
    margin-top: -10px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 0;
    margin-top:-10px;
    text-align: end;
  }
}
// bottom

.header_bottom {
  width: 100%;
  background: var(--color-white);
  display: flex;
  margin-top: 5px;
  padding: 10px 0;
  box-shadow: 1px 3px 10px 1px rgb(139, 139, 139);
}
.header_bottom-categrory {
  flex: 1;
  display: flex;
  align-items: center;
  .categroty {
    position: relative;
    cursor: pointer;
    flex: 1;
    display: flex;
    &:hover {
      .filter-categroty {
        display: block;
        transition: all 2s ease-in;
      }
    }
    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 50px;
      position: absolute;
    }
    .categroty-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      .categroty-menu-icon {
        width: 20px;
        height: 20px;
        margin-top:-7px;
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
      .categroty-menu-title {
        margin: 0;
        font-size: 15px;
        color: #5b5b5b;
        font-weight: bold;
        margin-left: 5px;
      }
    }

    .filter-categroty {
      position: absolute;
      display: none;
      top: 130%;
      width: 90%;
      z-index: 100;
      margin-top: 0;
      transition: all 2s ease-in;
      -moz-transition: all 2s ease-in;
      -webkit-transition: all 2s ease-in;
      background-color: var(--color-white);
      border: 1px solid #ddd;
      ul {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
        box-shadow: 5px 5px 20px 5px #d6cccc;
        li {
          padding: 10px 15px;
          border-top: rgba(167, 167, 167, 0.274) solid 1px !important;
          font-size: 16px;
          border-radius: 0;
          border: none;
          margin: 0;
          &:hover {
            background: rgba(180, 179, 179, 0.116);
          }
          a {
            color: #232323;
          }
        }
      }
    }
  }
}
.main-navigation {
  flex: 2;
  display: flex;
  width: 100%;
  justify-content: center;
  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li {
    padding: 0 10px;
    border-right: #5b5b5b solid 1px;
    a {
      color: #5b5b5b;
      font-size: 16px;
      font-weight: 500;
    }
    &:last-child {
      border-right: none;
    }
  }
}

.header_bottom-cart {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #5A5A5A;
  .btn-cart {
    display: flex;
    background: #5b5b5b;
    align-items: center;
    justify-content: center;
    padding: 6px;
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    .icon-cart {
      width: 20px;
      height: 20px;
      img {
        width: 100%;
        height: 100%;
        filter: invert(100%);
        object-fit: contain;
      }
    }
  }
}

// Mini cart.
.mini-cart-count {
  position: relative;
  margin-left: 20px;
  display: inline-block;
  color: #fff;

  svg {
    width: 24px;
    height: 24px;
    display: block;
    fill: currentColor;
  }

  span {
    position: absolute;
    background: #FF8F2B;
    border-radius: 10px;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    min-width: 20px;
    height: 20px;
    top: -10px;
    right: -10px;
  }
}

// Account button
.menu-account {
  position: relative;
  margin-left: 20px;

  svg {
    cursor: pointer;
  }
}

.menu-account__wrapper {
opacity: 0;
  position: absolute;
  background: #fff;
  width: 250px;
  top: 100%;
  right: 0;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  z-index: 99;
  visibility: hidden;

  &.menu-account-open {
    opacity: 1;
    visibility: inherit;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    color: var(--color-dark);
    transition: all .25s;

    &:hover {
      color: var(--color-accent);
    }
  }

  svg {
    margin-right: 8px;
  }

  a {
    color: var(--color-dark);
    text-decoration: none;

    &:hover {
      color: var(--color-accent);
    }
  }
}

.popup-logout {
  position: relative;
  background: #ffffff;
  padding: 40px;
  width: auto;
  margin: 20px auto;
  max-width: 500px;
  z-index: 9999;
  text-align: center;
}