.cart {
	margin: 0 -10px;
}
.cart .product-item {
	display: flex;
	height: auto;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
	border: 1px solid rgba(0,0,0,0.125);
	margin: 0 0 10px;
	.post-thumbnail {
		margin-right: 15px;
		margin-bottom: 0;
		max-width: 100px;
		img {
			width: 100px;
		}
	}

	.product-title {
		flex: 50% 1;
		max-width: 50%;
	}

	.entry-title {
		margin-bottom: 0;
	}
	.price {
		margin-bottom: 0;
		font-size: 15px;
	}
	.product-price, .total-price {
		width: auto;
		display: block;
		text-align: center;
		margin-right: 15px;
		min-width: 90px;
	}

	.product-voucher button {
		font-size: 11px;
		padding: 8px 12px;
		line-height: unset;
	}
	.product-voucher input {
		text-transform: uppercase;
	}
}

.quantity {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	margin-top: initial;
}
.button-minus,
.button-plus {
	border-radius: 99px;
	min-width: 24px;
	height: 24px;
	cursor: pointer;
	font-size: 16px;
	display: flex;
	align-items: center;
	line-height: 24px;
	justify-content: center;
	background: #eee;
}
.button-plus {
	background: #f29f05;
	color: #fff;
}
.quantity_products {
	margin: 0 8px;
	height: 24px;
	flex: 1 1 80px;
	min-width: 48px;
	font-size: 14px;
	line-height: 22px;
	padding: 0;
	border-radius: 2px;
	text-align: center;
}

.product-cart__wrapper {
	text-align: center;
	font-weight: 700;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08);
	position: sticky;
	// top: 80px;
	background-color: #fff;
}

.product-cart__detail {
	border-bottom: 1px solid rgba(195, 204, 220, .4);

	.col-md-6:first-child {
		border-right: 1px solid rgba(195, 204, 220, .4);
	}

	.color-secondary,
	.color-primary {
		font-size: 20px;
	}

	.color-secondary {
		color: var(--color-accent);
	}

	.color-primary {
		color: var(--color-accent);
	}
}

@media (max-width: 767px) {
	.quantity_products {
		flex-basis: 60px;
		margin: 0 4px;
	}
	.cart .product-item {
		flex-direction: column;
		> * {
			margin-bottom: 10px;
		}
		.product-title {
			max-width: 100%;
		}
		.product-voucher {
			display: flex;
			flex-wrap: wrap;
		}
	}
}
