.page-title {
	font-size: 20px;
	margin-bottom:0 ;
}
.title-taxonomy {
	color: #e41984;
	font-weight: 500;
	margin-bottom: 10px;
	font-size:20px ;
}
.product-taxonomy {
	background: var(--color-white);
	border-radius: 5px;
	padding: 10px 0;
	box-shadow: 1px 1px 10px 3px rgba(22, 22, 22, 0.158);
	.product-taxonomy__item {
		margin: 10px;
		display: flex;
		align-items: center;
		a {
			color: #232323;
			&:hover {
				color: var(--color-accent);
			}
		}
	}
}
.products-list {
	margin-top: 38px;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 10px;
	@media (max-width:576px) {
		grid-template-columns: repeat(2,1fr);
	}
}