.select-product {
	width: 100%;
	position: relative;
	z-index: 9;
	@media (max-width: 960px) {
		width: 100%;
	}
}

.show {
	display: block !important;
}

.right {
	background: #ff8f2b;
}

.left {
	background: var(--color-accent);
}

.select-product-title {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 5px 15px;
	.btn_select {
		background: none;
		padding: 8px 0;
	}

	p {
		color: #fff;
	}
}

.dislay-product,
.dislay-product2,
.dislay-product3 {}

.seclect-product-list,
.seclect-product-list2,
.seclect-product-list3 {
	width: 100%;
	display: none;

	background: #fff;
	box-shadow: 2px 2px 5px 5px rgba(51, 51, 51, 0.096);

	input {
		margin: 5px 0;
		width: 100%;
	}
}

.seclect-product-list {
	.product-lists {
		max-height: 300px;
		overflow-y: scroll;
		padding: 8px;
		scrollbar-color: rgba(51, 51, 51, 0.2) green;
		scrollbar-width: 5px;

		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background: var(--color-accent);
			border-radius: 3px;
		}
	}
}

.product_item {
	cursor: pointer;
	border-top: 1px solid #5b5b5b28;
	padding: 5px 0;

	&:hover {
		background: #5b5b5b1c;
	}

	p {
		margin: 0;
	}
}

.seclect-product-list2 {
	.product-list2 {
		max-height: 300px;
		overflow-y: scroll;
		padding: 8px;

		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background: #ff8f2b;
			border-radius: 3px;
		}
	}
}

.seclect-product-list3 {
	.product-list3 {
		max-height: 300px;
		overflow-y: scroll;
		padding: 8px;

		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background: #ff8f2b;
			border-radius: 3px;
		}
	}
}

.product-left {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.filter-product-content {
	position: absolute;
	width: 100%;
	top: 100px;
	left: 0;
	padding: 0 10px;

	flex-direction: column;
	align-items: flex-end;
}

.filter-product-top {
	width: 100%;
	margin-left: auto;

	@media (max-width: 960px) {
		width: 100%;
	}

	.box_image {
		width: 100%;
		height: 320px;
		padding: 10px;
		border: 1px solid #5b5b5b;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			height: 100%;
			object-fit: contain;
		}
	}

	.box_price {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 15px 0;

		.price-pre-sale {
			font-size: 18px;
			color: #c4c4c4;
			text-decoration: line-through;
			margin: auto 15px 0 15px;
		}

		.price {
			font-size: 20px;
			color: #f43a3a;
			font-weight: bold;
			margin: auto 0 0 0;
		}
	}

	.box_product-datmua {
		margin-top: 20px;
		justify-content: space-between;

		.btn {
			font-size: 14px;
			margin: 3px;
		}
	}
}

.right-filter {
	margin: 0 !important;
}

.product-sosanh {
	position: relative;
	overflow-y: scroll;
	height: 500px;

	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background: var(--color-accent);
		border-radius: 3px;
	}
}

.box_items {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 10px;
	border-bottom: 1px solid var(--color-accent);

	&:first-child {
		height: 40px;
		margin-top: 20px;
	}

	&:nth-child(2) {
		min-height: 500px;
		max-height: 500px;
	}

	&:last-child {
		margin-top: 15px;
		border-bottom: none;
	}

	.product-lable {
		font-size: 14px;
		font-weight: bold;
		color: #5a5a5a;
		margin: 10px 0;
	}

	.product-content {
		font-size: 16px;
		color: #5a5a5a;
	}
}

.dislay-product2,
.dislay-product3 {
	.box_items {
		grid-template-columns: 1fr;
	}
}