.content_product-list {
  width: 100%;
  padding: 20px 0;
  margin: 20px 0;
  border-top: var(--color-accent) solid;
  .product-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    @media (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 400px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: #5a5a5a;
  .page-numbers {
    margin: 0 10px;
    font-size: 16px;
  }
  .current {
    font-weight: bold;
    font-size: 18px;
  }
  .prev,
  .next {
    font-weight: bold;
  }
}
.archive {
  .post-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    @media (max-width:768px) {
      grid-template-columns: repeat(3,1fr);
    }
    @media (max-width:576px) {
      grid-template-columns: repeat(2,1fr);
    }
    @media (max-width:400px) {
      grid-template-columns: repeat(1,1fr);
    }
  }
}
.filter-category_khuyenmai {
  display: flex;
  margin-top: 15px;
  @media (max-width:576px) {
    display: none;
  }
  h4 {
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
   display:flex;
   
   justify-content: center;
      margin: 0;
    text-align: center;
    letter-spacing: 0.1px;

    color: #5a5a5a;
  }
  ul {
      display: flex;
      list-style:none ;
      padding: 0;
      flex: 9;
      flex-wrap: wrap;
      margin: auto 0 5px 25px;
     li {
       background: white;
          padding: 5px ;
          border: 1px solid rgba(0,0,0,0.1);
          box-shadow: 0px 3px 2px rgba(0,0,0,0.1);
          border-radius: 5px;
          margin: 10px;
          cursor: pointer;
          &:hover{
            border-color: var(--color-accent);
            color:var(--color-accent);
          }
     }
      
  }
}
.filters__right{
    float: right;
}
.filters__left, .filters__right {
  select {
    padding: 5px;
    border-radius: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%, rgba(0,0,0,1) 100%);
    -moz-appearance: none;
  }
}