.home__banner {
	margin-left: -7px;
}

.home-sidebar {
	.widget {
		margin: 0;

		.filter-category {
			width: 100%;
			background-color: var(--color-white);

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					padding: 10px 15px;
					border-top: rgb(167, 167, 167) solid 1px;
					font-size: 16px;

					&:hover {
						background: rgb(216, 216, 216);
					}

					a {
						color: #232323;
					}
				}
			}
		}
	}
}

.home__banner-wrapper {
	.home__banner-item {
		img {
			margin: auto;
			width: 100%;
		}
	}

	.slick-dots {
		li {
			width: 10px;
			height: 10px;
			background: #fff;
			border-radius: 50%;

			button {
				opacity: 0;
			}
		}

		.slick-active {
			width: 35px;
			border-radius: 15px;
			transition: width 0.3s linear;
		}
	}
}

.home_banner-static {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 0 0 0 !important;
	position: relative;

	@media (max-width:992px) {
		display: none;
	}

	.sale {
		position: absolute;
		bottom: 6%;
		left: 0;
		font-size: 1.3rem;
		font-weight: 700;
		color: var(--color-accent);
	}

	.home__banner-item {
		width: 100%;
		display: block;
		position: relative;
		margin: 0 0 15px 0;

		&::after {
			display: block;
			content: "";
			padding-top: 60%;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 100%;
			height: 100%;
		}
	}
}

.home_about_us {
	flex-wrap: wrap;
	padding: 0 10px;
	justify-content: space-between;

	@media (max-width:786px) {
		display: none;
	}

	.home_about-item {
		display: flex;
		align-items: center;

		.box-image {
			width: 70px;
			height: 70px;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		.box-content {
			display: flex;
			height: 100%;
			flex-direction: column;
			justify-content: center;

			@media (max-width: 768px) {
				.featured-title {
					font-size: 14px !important;
				}

				.mota {
					font-size: 12px !important;
				}
			}

			p {
				margin: 0;
			}

			.featured-title {
				font-size: 16px;
				font-weight: 700;
				color: #f43a3a;
			}

			.mota {
				font-size: 15px;
			}
		}
	}
}

.home_banner-bottom {
	display: flex;
	margin: 15px 0;

	.box-image {
		display: flex;
		flex: 1;
	}
}