.home_banchay{
    width: 100%;
    margin-top: 15px;
    .product-item{
      
        display: flex;
    }
}

.box_title{
    width:100%;
    display: flex;
   
    .title{
        font-size: 30px;
        font-weight: 700;
        cursor: default;
        color: $color__background-body;
        margin: 0;
    }
    &::after{
        display: flex;
        margin-top: auto;
        flex: 1;
        content: '';
        height: 1px;
        margin-left: 15px;
        background: $color__background-body;
        margin-bottom: 1%;
    }
}
.product_list{
    margin-top: 15px;
    height: 400px;
    .slick-prev, .slick-next{
        width: 50px;
        height: 50px;
        background: #E5E5E5;
        align-items: center;
        &::before{
            font-size: 25px;
            color: #333;
        }
    }
    .slick-track{
        height: 100%;
    }
    .slick-list{
        height: 100%;
    }
} 
